# Large embedding caches
Data/*.pkl
WordData/*.pkl
WordData/LJSpeech-1.1/
WordData/textgrids
# Logs
logs/

# Python
__pycache__/
*.pyc
*.pyo
.env

# HuggingFace cache if it ended up here
huggingface_cache/

# Jupyter
.ipynb_checkpoints/
Data/texts_*.json
