# Large embedding caches
*.pkl
MLSData/mls_sample/lab/
MLSData/mls_sample/mfa_corpus/
MLSData/mls_sample/wavs/
MLSData/mls_word_records.json
MLSData/textgrids/
Data/*.pkl
WordData/*.pkl
WordData/LJSpeech-1.1/
WordData/textgrids
# Logs
logs/

# Python
__pycache__/
*.pyc
*.pyo
.env

# HuggingFace cache if it ended up here
huggingface_cache/

# Jupyter
.ipynb_checkpoints/
Data/texts_*.json
